<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>  
    <%= f.label :name %><br />  
    <%= f.text_field :name %>  
  </p>

  <p>  
    <%= f.label :description %><br />  
    <%= f.text_area :description, :rows => 5 %>  
  </p>

  <%= f.fields_for :tags do |builder| %>  
  <p>
    <%= builder.label :tags %> <br>    
    <input type="hidden" id="new_tag_hidden" name="problem[tag_names]" style="width:300px" value="" tabindex="-1" class="select2-offscreen">
  </p>
  <% end %>

  <% #binding.pry %>
  <%= f.fields_for :answers do |builder| %>  
  <p>  
    <%= builder.label :description, "Answer" %><br />  
    <%= builder.text_area :description, :rows => 5 %>  
  </p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
